# bloated files and directories
.venv/
.vscode/
.env
secrets.txt
project-notes.md
project_context.txt
*.egg-info/

# Testing
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# specific temp files to ignore
mermaid-diagram1.png
mermaid-diagram2.png
mermaid-diagram3.png
mermaid-diagram4.png
